.playerInfo{
    /*position:absolute;*/
    color:blueviolet;
    display:inline-block;
}

.SkillInfo{
    color:violet;
}

.gameStatus{
    display:inline-block;
    margin:5px auto;
	border:3px solid grey;
}

#playerStatus{
    display:flex;
}

