


* {
	margin:0px;
	padding:0px;
}

html {
	background-image: url('../images/bg.jpg');
	background-position: 50% 50%;
	background-size: cover;
	height: 100%;
}

#container {
	margin:2% auto;
	/*border:3px solid aqua;*/
	
}

div{
    margin:2px;
    /*border:3px solid black;*/
}

.clear{
	clear: both;
}

#musicTooLoud{
	border:1px solid purple;
	display:block;
}
#soundTooLoud{
	border:1px solid purple;
	display:block;
}

.watermark{
	position: absolute;
    right:1%;
    bottom:1%;
}